body{
  background-image: url(../image.jpg);
  background-position: center;
}

.signUp{
  margin: 0 auto;
  padding: 0 12px;
}

.verticalCenter{
  height: 100vh;
  transform: translateY(24%)
}
#signForm{
  background-color: aliceblue;
  padding: 10px;
}
.logo{
  max-height: 100px;
  width: inherit;
  display: flex;
  justify-content:center;
}

.logo > img{
  max-width: 100%;
  height: auto;
  width: 20%;
}

.signForm > *{
  display: block;
  margin: 0 auto;
}

.signForm > h1{
  text-align: center;
  font-size: 1em;
}

.inputBox{
  width: 95%;
}

.signForm > button{
  margin-top: 15px;
  height: 40px;
  width: 80px;
}

@media (min-width: 576px) {
  .signUp{max-width: 540px;}
  .signForm > h1{font-size: 1.5em;}
}

@media (min-width: 768px) {
 .signUp{max-width: 720px;}
 .signForm > h1{font-size: 2em;} 
}



