/* User Stats CSS */
.userStats{
  max-width: 1200px;
  margin: 0px auto;
}

.container{
  background-color: rgb(255, 255, 255);
  max-width: 1000px;
  height: 100vh;
  margin: 0 30px;
  padding: 70px;
}


.profilePic{
  display: grid;
  justify-content: center;
  align-items: end;
  width: 90%;
  height: 15vh;
  background-image: url(../tree.avif);
  margin: 0 auto;
  border-radius: 10px;
}

.profilePic > img{
  height: 100px;
  border-radius: 20px;
}

.Name > h1{
  text-align: center;
  margin-top: 22px;
  font-size: 50px;
}

/* Upload CSS */


#pop-upButton{
  display: block;
  margin: 0 auto;
  background-color: rgb(5, 159, 5);
  border-style: solid;
  border-radius: 10px;
  height: 40px;
  width: 84px;
  border-width: 1px;
  color: rgb(240, 240, 240);;
  border-color: black;
  transition:1s 1s ease-in;
}
#pop-upButton:active{
  background-color: rgb(32, 32, 209);
  color: red;
  transition: 0s;
}

/* Modal/Form */
#modal{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background: #eee;
}

#header{
  display: flex;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px;
  justify-content: space-between;
  margin-bottom: 40px;
}

#header > h1{
  font-size: medium;
}

#header > button{
  padding-top: 2px;
  width: 40px;
  background-color: transparent;
  border: none;
  font-size: large;
  font-weight: 700;
}

.upper{
  margin: 8px;
}
.lower{
  margin: 8px;
}
.lower > * {
  display: block;
  margin: 6px;
}
#formBody > button {
  display: block;
  width: 26%;
  margin: 12px auto;
}

#formBody {
  display: grid;
}
#fileInput{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: " File Ready To Upload";
  width: 236px;
}

.lower1{
  margin-bottom: 12px;
}

.lower2{
  margin: 10px 0;
}
.lower2 > * {
  display: block;
  margin: 5px;
}